<article class="post-full post"> 
    <header class="post-full-header">
        <section class="post-full-meta">
            <time class="post-full-meta-date" datetime="{{.Date.Format "2006-01-02"}}">{{ .Date.Format "2 January 2006" | safeHTML }}</time>
        </section>

        <h1 class="post-full-title">{{.Title}}</h1>

        <section class="post-full-meta">
            {{if .Params.tags}}
                {{ range $index, $tag := .Params.tags }}
                    <a href="{{$.Site.BaseURL}}tags/{{ $tag | urlize }}/">#{{$tag}}</a>&nbsp;
                {{end}}
            {{end}}
        </section>
    </header>

    {{if .Params.image}}
    <figure class="post-full-image" style="background-image: url({{.Params.image | absURL}})">
    </figure>{{else}}
    <figure class="post-full-color">
    </figure>{{end}}

    <section class="post-full-content">
        <div class="kg-card-markdown">
            <table class="metadata">
                <tr>
                    <td class="heading">Speakers</td>
                    <td class="value">{{.Params.speech.speakers}}</td>
                </tr>
                <tr>
                    <td class="heading">Length</td>
                    <td class="value">{{.Params.speech.length}}</td>
                </tr>
                <tr>
                    <td class="heading">Event</td>
                    <td class="value">{{.Params.speech.event}}</td>
                </tr>
                <tr>
                    <td class="heading">Venue</td>
                    <td class="value">{{.Params.speech.venue}}</td>
                </tr>
            </table>

            <hr />

            {{ .Content }}
        </div>
    </section>
</article>
