{{ partial "head" . }}

<body class="home-template"><div class="site-wrapper">

{{ partial "header" . }}

<main id="site-main" class="site-main outer" role="main">
  <div class="inner">
    <div class="post-feed">
    {{ $paginator := .Paginate (where .Data.Pages.ByDate.Reverse "Type" "speech") }}
    {{ range $paginator.Pages }}
          {{ partial "speech-item" . }}
    {{ end }}
    </div>

    <nav class="pagination" role="navigation">
      {{if .Paginator.HasPrev}}
          <a class="newer-speeches" href="{{ .Paginator.Prev.URL }}">&larr; <span class="hide">Next Speeches</span></a>
      {{end}}
      <span class="page-number"><span class="hide">Page {{ .Paginator.PageNumber }} of {{.Paginator.TotalPages}}</span>&nbsp;</span>
      {{if .Paginator.HasNext}}
          <a class="older-speeches" href="{{ .Paginator.Next.URL }}"><span class="hide">Previous Speeches</span> &rarr;</a>
      {{end}}
    </nav>
  </div>
</main>

{{ partial "footer" . }}
</div>{{ partial "js" . }}</body></html>
