{{ partial "head" . }}

{{if ne .Site.Params.singleViewStyle "casper"}}<body class="ctsingle">
{{else}}<body class="post-template">{{end}}
  <div class="site-wrapper"> 

{{if ne .Site.Params.singleViewStyle "casper"}}{{ partial "header" . }}
{{else}}{{ partial "header-sori" . }}{{end}}

<main id="site-main" class="site-main outer" role="main">
  <div class="inner">
    {{if ne .Site.Params.singleViewStyle "casper"}}
    <div class="post-feed">
      {{ partial "speech-single" . }}
    </div>

    <nav class="pagination" role="navigation">
      {{if .NextInSection}}
          <a class="newer-posts" href="{{ .NextInSection.RelPermalink }}">&larr; <span class="hide">Next Post</span></a>
      {{end}}
      <span class="page-number">&nbsp;</span>
      {{if .PrevInSection}}
          <a class="older-posts" href="{{ .PrevInSection.RelPermalink }}"><span class="hide">Previous Post</span> &rarr;</a>
      {{end}}
    </nav>

    {{else}}
      {{ partial "speech-single-sori" . }}
    {{end}}
    
    {{ partial "disqus" . }}
  </div>
</main>

<!-- Header with progress bar -->
{{ partial "header-floating-sori" . }}

{{ partial "footer" . }}
</div>
{{ partial "js" . }}
{{if eq .Site.Params.singleViewStyle "casper"}}{{ partial "js-sori" . }}{{end}}
</body></html>
